# 数据提取与转换

#### fieldID文件

In [2]:
import numpy as np
import pandas as pd
#读取数据fileID数据,并转为list数据类型
read_data = pd.read_csv(r"C:\Users\acer\Desktop\fieldID_data.txt",names = ['a','b'])
data_DataFrame = pd.DataFrame(read_data)
fieldid_list = np.array(data_DataFrame["b"]).tolist()
#查看数据长度
print(len(fieldid_list))

13840

In [3]:
#提取fieldID中的纯数字fieldID,并去重
uk_fieldid = []
for i in fieldid_list:
    uk_fieldid.append(i.split(".")[0][1:])
c = set(uk_fieldid)
fileid = pd.DataFrame(c,columns = ["a"])
#查看数据长度
print(len(c),len(fileid))

2710 2710

#### GitHub-file文件数据

In [4]:
#读取github-ukbiobank-.txt数据,并转为DataFrame
file_github = pd.read_csv(r"C:\Users\acer\Desktop\UK_github_data.csv",names=["a","b","c","d","e","f","g","h","i","j"])
file = pd.DataFrame(file_github)

### 按fieldID合并提取数据并输出

In [7]:
result = pd.merge(fileid,file,on=["a"])
result.to_csv(r"C:\Users\acer\Desktop\result.csv", encoding = 'utf-8', index = False)

### 单独提取目录中的trait并添加在文件中

In [8]:
data = pd.read_csv(r"C:\Users\acer\Desktop\result.csv")
a = pd.DataFrame(data)
a["Trait"] = a["g"].apply(lambda x:x.split(">")[-1])
a.to_csv(r"C:\Users\acer\Desktop\result-1.csv", encoding = 'utf-8', index = False)

In [12]:
fileid

           a
0      25022
1      25282
2      90094
3      20131
4      25231
...      ...
2705    3090
2706   22631
2707  100005
2708   22150
2709   90164

[2710 rows x 1 columns]